<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<figure>
  <img src="{% static 'Scam Detective Logo.png' %}" alt="Scam Detective Logo" width="4200" height="2400" class="center" style="width:50%; height:50%">
  <figcaption style="color: white";>Fig.1 - Scam Detective Logo.</figcaption>
</figure>

<p class="double"></p>

<div class="header">
  <h1>Scam Detector</h1>
</div>

<p class="double"></p>

<div class="container">
  {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
<form action="/input" method="POST">
    {% csrf_token %}
    <input type="hidden" name="access_key" value="c08cbba3-8b05-4a01-b889-d7e6e29308b4">

    <label for="fname" style="color: white;">Email of Sender (Leave Blank if not applicable) </label>
    <input type="text" id="sname" name="email" placeholder="@gmail.com...">

    <label for="lname" style="color: white;">Phone Number of Sender Including Country Code. (Leave Blank if not applicable) </label>
    <input type="text" id="dname" name="phoneNumber" placeholder="+1 (999)999-9999...">

    <label for="state" style="color: white;">U.S. State of Origin (If Applicable, otherwise "Not from USA")</label>
    <select id="state" name="state">
      <option value="utah">Utah</option>
      <option value="alabama">Alabama</option>
      <option value="alaska">Alaska</option>
      <option value="arizona">Arizona</option>
      <option value="arkansas">Arkansas</option>
      <option value="california">California</option>
      <option value="colorado">Colorado</option>
      <option value="connecticut">Connecticut</option>
      <option value="delaware">Delaware</option>
      <option value="florida">Florida</option>
      <option value="georgia">Georgia</option>
      <option value="hawaii">Hawaii</option>
      <option value="idaho">Idaho</option>
      <option value="illinois">Illinois</option>
      <option value="indiana">Indiana</option>
      <option value="iowa">Iowa</option>
      <option value="kansas">Kansas</option>
      <option value="kentucky">Kentucky</option>
      <option value="louisiana">Louisiana</option>
      <option value="maine">Maine</option>
      <option value="maryland">Maryland</option>
      <option value="massachusetts">Massachusetts</option>
      <option value="michigan">Michigan</option>
      <option value="minnesota">Minnesota</option>
      <option value="mississippi">Mississippi</option>
      <option value="missouri">Missouri</option>
      <option value="montana">Montana</option>
      <option value="nebraska">Nebraska</option>
      <option value="nevada">Nevada</option>
      <option value="new hampshire">New Hampshire</option>
      <option value="new jersey">New Jersey</option>
      <option value="new mexico">New Mexico</option>
      <option value="new york">New York</option>
      <option value="north carolina">North Carolina</option>
      <option value="north dakota">North Dakota</option>
      <option value="ohio">Ohio</option>
      <option value="oklahoma">Oklahoma</option>
      <option value="oregon">Oregon</option>
      <option value="pennsylvania">Pennsylvania</option>
      <option value="rhode island">Rhode Island</option>
      <option value="south carolina">South Carolina</option>
      <option value="south dakota">South Dakota</option>
      <option value="tennessee">Tennessee</option>
      <option value="texas">Texas</option>
      <option value="vermont">Vermont</option>
      <option value="virginia">Virginia</option>
      <option value="washington">Washington</option>
      <option value="west virginia">West Virginia</option>
      <option value="wisconsin">Wisconsin</option>
      <option value="wyoming">Wyoming</option>
      <option value="district of columbia or u.s. territory">District of Columbia or U.S. Territory</option>
      <option value="not from the USA">Not From USA</option>
    </select>

    <label for="subject" style="color: white;">Message Content</label>
    <textarea id="subject" name="message" placeholder="Content of the message you recieved (copy + paste).." style="height:200px"></textarea>

    <input style="padding: 12px 20px;" type="submit" value="Submit">
  </form>
</div>

</form>

<p style="font-size: 5px; font-family: Times New Roman;"> Andrew Barber, Elijah Paul Castaneda, Scott Jeppson, USU, Sandbox - Hackathon, Spring 2025. </p>

<div class="navbar">
  <a href="/"> Main Menu </a>
  <a href="/output"> See Results </a>
</div>

</body>
</html>
