<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<figure>
  <img src="./SD.Images/Scam Detective Logo.png" alt="Scam Detective Logo" width="4200" height="2400" class="center" style="width:50%; height:50%">
  <figcaption style="color: white";>Fig.1 - Scam Detective Logo.</figcaption>
</figure>

<p class="double"></p>

<div class="header">
  <h1>Results</h1>
</div>

<p class="double"></p>

<div class="container" align="center">
<iframe src="https://whateverscottputshere" title="Scam Detective Results"></iframe>
</div>

</form>

<p style= font-size: 5px; font-family: Times New Roman;> Andrew Barber, Elijah Paul Castaneda, Scott Jeppson, USU, Sandbox - Hackathon, Spring 2025. </p>

<div class="navbar">
  <a href="index.htm"> Main Menu </a>
  <a href="Input.html"> Scam Detector </a>
</div>

</body>
</html>
