<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<figure>
  <img src="{% static 'Scam Detective Logo.png' %}" alt="Scam Detective Logo" width="4200" height="2400" class="center" style="width:50%; height:50%">
  <figcaption style="color: white";>Fig.1 - Scam Detective Logo.</figcaption>
</figure>

<p class="double"></p>

<div class="header">
  <h1>Results</h1>
</div>

<p class="double"></p>

<div class="container" align="center">
  <h2>Scam Detector Results</h2>
  <p class="results">Here are the results of the scam detector:</p>
  <p class="results">There is a {{ percentage }}% chance that this message is a scam</p>
  <p class="results">This message was received from {{ source }}</p>
  {% if phone %}
    <p class="results">If you do have not been in this country within the past 3 months and do not know anyone who lives there, increase your scam chance by 50%</p>
  {% else %}
    <p class="results">If this email has a lot of random letters and numbers, increase the scam chance by 50%</p>
  {% endif %}
  <p class="results">If there are any misspellings or grammatical errors in the message, increase the scam chance by 20%</p>
  <p class="results">If you are unsure, it is always best to be cautious and not respond to the message</p>
</div>

</form>

<p style= "font-size: 5px; font-family: Times New Roman;"> Andrew Barber, Elijah Paul Castaneda, Scott Jeppson, USU, Sandbox - Hackathon, Spring 2025. </p>

<div class="navbar">
  <a href="/"> Main Menu </a>
  <a href="/input"> Scam Detector </a>
</div>

</body>
</html>
